.App {
  text-align: center;
}

.App-header {
  background-color: #191414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.spotify-button {
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.spotify-button:hover {
  background-color: #1ed760;
}